name: Release

on:
  workflow_dispatch:
    inputs:
      commit:
        description: Branch, tag or commit hash
        type: string
        required: true
        default: main

      default-bump:
        description: Default Version Bump (if none found in commit messages)
        type: choice
        options:
          - major
          - minor
          - patch
        required: false
        default: patch

jobs:
  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          ref: ${{ inputs.commit }}

      - name: Create tag
        id: tag
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          default_bump: ${{ github.event.inputs.default-bump }}
          create_annotated_tag: true

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ steps.tag.outputs.new_tag }}
          tag_name: ${{ steps.tag.outputs.new_tag }}
          generate_release_notes: true
